// Colors
$primaryColor: #f00;
$secondaryColor: #0f0;
$bgColor: #00f;
$radius: 25px;

// Containers
.container {
  h1{
    margin: 50px ;
  }
  background-color: bisque;
  border-radius: $radius;
  height: 72vh;
}


@mixin theme($theme: lightgray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  width: 70%;
  margin: 30px auto;
  min-width: 450px;
  padding: 10px;
}